<!-- Basic inventory info -->

<section>
  <div class="container">
    <div class="col-md-6 m-auto">
      <div class="row text-center">
        <div
          class="col-md-6 p-3 text-bg-dark"
          style="cursor: pointer"
          underlineDirective
          (click)="onInventoryClicked()"
        >
          <h4>Empty inventory: {{ getEmptyInventoryItems() }}</h4>
        </div>
        <div
          class="col-md-6 p-3 bg-dark text-white"
          style="cursor: pointer"
          underlineDirective
          (click)="onShoppingClicked()"
        >
          <h4>Shopping list: {{ getShoppingListItems() }}</h4>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Project list -->
<section class="mt-5">
  <div class="container">
    <h1 class="py-3">Active projects</h1>
    <app-project-short
      *ngFor="let project of projectData.projects"
      [project]="project"
      (projectClicked)="onProjectClicked(project)"
    ></app-project-short>
  </div>
</section>
