<div>
  <h1 class="pb-3">Selected item</h1>
  <div class="d-flex justify-content-between">
    <h3>
      <u>{{ item.name }}</u>
    </h3>
    <div class="d-flex">
      <div class="btn btn-dark" role="button" (click)="editMode = true" *ngIf="!editMode">Edit</div>
      <div class="btn btn-info" role="button" (click)="onSave()" *ngIf="editMode">Save</div>
      <div class="btn btn-danger" role="button" (click)="onDelete()" *ngIf="editMode">Delete</div>
    </div>
  </div>
  <p>{{ item.description }}</p>
  <h4>Quantity:</h4>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" [ngSwitch]="item.quantityInfo.type">
      <span *ngSwitchCase="0">Type: <b>number</b></span>
      <span *ngSwitchCase="1">Type: <b>mm</b></span>
      <span *ngSwitchCase="2">Type: <b>cm</b></span>
      <span *ngSwitchCase="3">Type: <b>m</b></span>
      <span *ngSwitchCase="4">Type: <b>mm2</b></span>
      <span *ngSwitchCase="5">Type: <b>cm2</b></span>
      <span *ngSwitchCase="6">Type: <b>m2</b></span>
    </li>
    <li class="list-group-item" *ngIf="isNonNumberUnitType()">
      Dimensions: {{ getDimensions() }}
    </li>
    <li
      class="list-group-item"
      [ngClass]="item.quantityInfo.inventory === 0 ? 'text-danger' : ''"
    >
      In inventory: <b>{{ item.quantityInfo.inventory }}</b>
    </li>
    <li class="list-group-item">
      On shopping list: <b>{{ item.quantityInfo.shoppingList }}</b>
    </li>
  </ul>
</div>
