<section>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1 class="pb-3">Inventory Items</h1>
        <a
          class="list-group-item"
          *ngFor="let item of data.items; let i = index"
          (click)="onSelected(item)"
          [ngClass]="
            selected === data.items[i]
              ? 'bg-dark text-white'
              : 'bg-white text-dark'
          "
        >
          <h4 class="list-group-item-heading">{{ item.name }}</h4>
          <p class="list-group-item-text">{{ item.description }}</p>
        </a>
      </div>
      <div class="col-md-7">
        <div *ngIf="selected">
          <app-item-details
            [item]="selected"
            (onDeleteClicked)="onItemDeleted()"
            (onSaveClicked)="onItemSaved()"
          ></app-item-details>
        </div>
      </div>
    </div>
  </div>
</section>
